<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>T411 Reader</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="resources/styles/knacss.css" media="all">
		<link rel="stylesheet" href="resources/styles/styles.css" media="all">
</head>
<h1 class="wauto">Bienvenue sur votre ecran d'acceuil</h1>
<body>
	<header id="header" role="banner" class="line pam">
	</header>
	<div class="flex-container">
		<aside class="w20 mrs pam aside">
			<nav id="navigation" role="navigation">
				<ul class="pam unstyled">
				<% for(var i=0; i<rest.length; i++){  %>
					<li class="pam"><%= rest[i].name %></li>
				<% } %>
				</ul>
			</nav>
		</aside>
		<div id="main" role="main" class="flex-item-fluid pam">
		</div>
	</div>
	<footer id="footer" role="contentinfo" class="line pam txtcenter">
		Lorem Elsass ipsum lacus leverwurscht Wurschtsalad mamsell Gal. gewurztraminer turpis, suspendisse commodo Oberschaeffolsheim ornare aliquam semper Miss Dahlias Mauris turpis sagittis kuglopf eleifend dignissim baeckeoffe geht's Richard Schirmeck mollis habitant schnaps ante et sit leo schpeck sit Salu bissame Salut bisamme varius quam. amet elementum nullam bissame bredele Heineken picon bière gal sed risus, condimentum Verdammi ch'ai ac réchime météor barapli s'guelt quam, non Christkindelsmärik blottkopf, Carola tellus rucksack vielmols, Gal !
	</footer>


    <script src="resources/scripts/components/hello.js"></script>
</body>
</html>